spec/fixtures/service.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://ecampaignstats.com/cp/index.php/report_api/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="https://ecampaignstats.com/cp/index.php/report_api/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://ecampaignstats.com/cp/index.php/report_api/">
      <s:element name="GetClientReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Start" type="s:dateTime"/>
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetClientReportResult" type="tns:ClientReport"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ds">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema"/>
                <s:any/>
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetLinkReportSummary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Campaignid" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkReportSummaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLinkReportSummaryResult" type="tns:ClientReport"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientKey" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="Campaignid" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLinkReportResult" type="tns:ClientReport"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetClientReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientReport"/>
  </wsdl:message>
  <wsdl:message name="GetClientReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientReportResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLinkReportSummarySoapIn">
    <wsdl:part name="parameters" element="tns:GetLinkReportSummary"/>
  </wsdl:message>
  <wsdl:message name="GetLinkReportSummarySoapOut">
    <wsdl:part name="parameters" element="tns:GetLinkReportSummaryResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLinkReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetLinkReport"/>
  </wsdl:message>
  <wsdl:message name="GetLinkReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetLinkReportResponse"/>
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetClientReport">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retreive Client's Report Info</wsdl:documentation>
      <wsdl:input message="tns:GetClientReportSoapIn"/>
      <wsdl:output message="tns:GetClientReportSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetLinkReportSummary">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retreive Link SummaryReport Info</wsdl:documentation>
      <wsdl:input message="tns:GetLinkReportSummarySoapIn"/>
      <wsdl:output message="tns:GetLinkReportSummarySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetLinkReport">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retreive Link Report Info</wsdl:documentation>
      <wsdl:input message="tns:GetLinkReportSoapIn"/>
      <wsdl:output message="tns:GetLinkReportSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetClientReport">
      <soap:operation soapAction="https://ecampaignstats.com/cp/index.php/report_api/GetClientReport" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkReportSummary">
      <soap:operation soapAction="https://ecampaignstats.com/cp/index.php/report_api/GetLinkReportSummary" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkReport">
      <soap:operation soapAction="https://ecampaignstats.com/cp/index.php/report_api/GetLinkReport" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetClientReport">
      <soap12:operation soapAction="https://ecampaignstats.com/cp/index.php/report_api/GetClientReport" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkReportSummary">
      <soap12:operation soapAction="https://ecampaignstats.com/cp/index.php/report_api/GetLinkReportSummary" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkReport">
      <soap12:operation soapAction="https://ecampaignstats.com/cp/index.php/report_api/GetLinkReport" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://ecampaignstats.com/cp/index.php/report_api/"/>
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://ecampaignstats.com/cp/index.php/report_api/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>